doctype html

html
  head
    meta(charset='UTF-8')
    title Contentful Office Signage
    link(rel='stylesheet', href='/normalize.css')
    link(rel='stylesheet', href='/slick.min.css')
    link(rel='stylesheet', href='/signage_app.css')
  body
    #root
    script(src='/js/signage_app.bundle.js')
