@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900);

html {
    font-size: 50px;
}

#app {
    display: flex;
    height: 100vh;
    width: 100vw;
}

#mainSection {
    width: 75vw;
    background-color: white;
    height: 100%;
}

#sideBar {
    width: 25vw;
    background-color: black;
    height: 100%;
}

* {
    min-height: 0;
    min-width: 0;
}

.clock {
    color: white;
    text-align: center;
}

.time {
    font-size: 2em;
    position: relative;
    display: block;
    margin-top: 45px;
}

.date {
    font-size: 0.8em;
    position: relative;
    display: block;
    margin-top: 45px;
}

.cloudWrapper {
    text-align: center;
    padding: 20px;
}

.slideJobBoard h1,
.slideJobBoard h2 {
    margin-left: 0.5em;
    color: white;
}

.slideJobBoard .berlin,
.slideJobBoard .san-francisco {
    height: 100vh;
    background-size: cover;
    margin-top: -50px;
}
/*
.slideJobBoard .berlin {
    background-image: url("berlin.jpg")
}

.slideJobBoard .san-francisco {
    background-image: url("san-francisco.jpg")
}
*/
